In [86]:
import json
import pandas as pd

In [131]:
with open('E:\\mygit\\Berlin-Chapter-Challenge-Waste-Management\\src\\data\\1-raw data\\Geospatial Data\\landfills\\Landfill_Hamburg(DE-HH).json', 
          'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

In [132]:

new_data_list = []

for entry in data["elements"]:
    new_entry = {
        **entry.get("tags", {}),  
        "type": entry.get("type", None),  
        "id": entry.get("id", None), 
        "lat": entry.get("lat", None),  
        "lon": entry.get("lon", None), 
    }
    new_data_list.append(new_entry)

In [133]:
df = pd.DataFrame(new_data_list)

In [134]:
df.shape

(213, 74)

In [135]:
df.head()

,landuse,type,id,lat,lon,barrier,name,informal,landfill:waste,ISO3166-2,...,ref:nuts:3,short_name,source,wikidata,wikipedia,de:name_index_city,de:place,description,land_area,name:prefix:de
0,landfill,way,54173496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,landfill,way,62140227,NaN,NaN,fence,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,landfill,way,101396796,NaN,NaN,NaN,Spülfeld Moorburg-Ost,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,landfill,way,101396818,NaN,NaN,NaN,Spülfeld Moorburg-Mitte,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,landfill,way,101712461,NaN,NaN,NaN,Schlick-Deponie Feldhofe,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
df.isnull().sum()

landuse               204
type                    0
id                      0
lat                    11
lon                    11
                     ...
de:name_index_city    212
de:place              212
description           212
land_area             212
name:prefix:de        212
Length: 74, dtype: int64

In [137]:
df.dropna(subset=['lat', 'lon'], inplace=True)

In [138]:
df.to_csv('Landfills_Hamburg(DE-HH).csv', index=False)