In [149]:
import json
import pandas as pd
import numpy as np

In [159]:
with open('E:\\mygit\\Berlin-Chapter-Challenge-Waste-Management\\src\\data\\1-raw data\\Geospatial Data\\waste transfer centres\\WasteTransferSite_SaxonyAnhalt.json'
          ,'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

In [160]:

new_data_list = []

for entry in data["elements"]:
    new_entry = {
        **entry.get("tags", {}),  # Use a default empty dictionary if "tags" doesn't exist
        "type": entry.get("type", None),  # Use None if "type" doesn't exist
        "id": entry.get("id", None),  # Use None if "id" doesn't exist
        "lat": entry.get("lat", None),  # Use None if "lat" doesn't exist
        "lon": entry.get("lon", None),  # Use None if "lon" doesn't exist
    }
    new_data_list.append(new_entry)

In [161]:
original_df = pd.DataFrame(new_data_list)

In [162]:
column_list = original_df.columns
print(column_list)

Index(['amenity', 'type', 'id', 'lat', 'lon', 'addr:city', 'addr:housenumber',
       'addr:postcode', 'addr:street', 'name', 'opening_hours', 'phone',
       'waste', 'website', 'barrier', 'landuse', 'operator', 'ISO3166-2',
       'TMC:cid_58:tabcd_1:Class', 'TMC:cid_58:tabcd_1:LCLversion',
       'TMC:cid_58:tabcd_1:LocationCode', 'admin_level', 'alt_name:eo',
       'alt_name:pt', 'border_type', 'boundary',
       'de:amtlicher_gemeindeschluessel', 'de:regionalschluessel', 'name:ar',
       'name:ca', 'name:cs', 'name:de', 'name:en', 'name:eo', 'name:es',
       'name:fa', 'name:fr', 'name:hr', 'name:hsb', 'name:hu', 'name:ia',
       'name:io', 'name:is', 'name:it', 'name:lt', 'name:mk', 'name:nl',
       'name:pl', 'name:prefix', 'name:pt', 'name:ru', 'name:sk', 'name:sl',
       'name:sr', 'name:sv', 'name:th', 'name:uk', 'name:ur', 'name:vo',
       'name:zh', 'name:zh-Hans', 'name:zh-Hant', 'ref', 'ref:nuts:1',
       'ref:nuts:2', 'source', 'wikidata', 'wikipedia'],
      dtype='object')

In [163]:
original_df.head()

,amenity,type,id,lat,lon,addr:city,addr:housenumber,addr:postcode,addr:street,name,...,name:vo,name:zh,name:zh-Hans,name:zh-Hant,ref,ref:nuts:1,ref:nuts:2,source,wikidata,wikipedia
0,waste_transfer_station,way,724666576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,waste_transfer_station,way,839558358,NaN,NaN,Köthen (Anhalt),60,06366,Maxdorfer Straße,PreZero Umladestation & Schadstofflager Köthen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,waste_transfer_station,way,981177092,NaN,NaN,NaN,NaN,NaN,NaN,ESG Saalkreis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,area,3600062607,NaN,NaN,NaN,NaN,NaN,NaN,Sachsen-Anhalt,...,Saxän-Lanhaltän,萨克森－安哈尔特,萨克森－安哈尔特,薩克森－安哈爾特,ST,DEE,DEE0,http://wiki.openstreetmap.org/wiki/Import/Cata...,Q1206,de:Sachsen-Anhalt
4,NaN,node,10749073433,51.548581,12.049462,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
df = original_df[['id', 'lat', 'lon']].copy()

In [165]:
df.shape

(50, 3)

In [166]:
df.head()

            id        lat        lon
0    724666576        NaN        NaN
1    839558358        NaN        NaN
2    981177092        NaN        NaN
3   3600062607        NaN        NaN
4  10749073433  51.548581  12.049462

In [158]:
df.to_csv('WasteTransferStations_SaxonyAnhalt.csv', index=False)